/* CSS Document */

@import url("video.css");
@import url("footer.css");

/*
@import url("mobile.css");
@import url("tablet.css");
@import url("desktop.css");
/*
@import url("colours.css"); */

/*** GLOBAL ***/

html,
body {
    font-size: 1em;
    font-family: 'Open+Sans', sans-serif;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
}


/* TEMP STYLING */

html,
body {
    background: hsla(0, 100%, 50%, .2);
}
