nav {
    background: hsla(0, 0%, 100%, .8);
    position: fixed;
    top: 0px;
    z-index: 100;
}

nav ul {
    margin: 10px;
}

nav li {
    display: inline-block;
    margin: 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:active,
a:focus,
a:focus-within {
    border-bottom: solid 4px black;
}
