/*** RESPONSIVE LAYOUT ***/

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
  margin: 0 auto;
}

.sectionContent {
  max-width: 900px;
}

.communityFooterMotif2 {
  display: none;
}

.hopeFooterMotif2 {
  display: none;
}

/*** MOBILE ***/

@media screen and (max-width: 40em) {
  .photo {
    border-width: 10px;
    padding: 10px;
  }
  .ambassador {
    flex-wrap: wrap;
  }
}

/*** TABLET ***/

@media screen and (min-width: 600px) {
  .ambassador {
    flex-wrap: nowrap;
  }
}