.titleBar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  background: hsla(0, 0%, 100%, .8);
}

.titleBar .SLQmark {
  height: 40px;
  width: 40px;
  margin: 10px;
  fill: #222;
}

.titleBarHeading {
  display: none;
  width: auto;
  height: 50px;
  padding: 8px;
}